In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent = dataset[['age', 'bmi', 'children','sex_male','smoker_yes']]

In [8]:
dependent = dataset[["charges"]]

In [9]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [11]:
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['friedman_mse','squared_error','absolute_error','poisson'],
             'max_features':['auto','sqrt','log2'],
             'splitter':['best','random']}
grid = GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['friedman_mse', 'squared_error',
                                       'absolute_error', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [13]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)

from sklearn.metrics import r2_score
r_score = r2_score(y_test,grid_predictions)
print('The R_score value for best parameter {}:'.format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'log2', 'splitter': 'best'}: 0.7531609674466184

In [14]:
table = pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.025605,0.031355,0.008003,0.000002,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.731473,0.568224,0.754037,0.602583,0.671173,0.665498,0.071616,2
1,0.012805,0.003919,0.004802,0.003921,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.659375,0.648820,0.620033,0.682213,0.659330,0.653954,0.020169,5
2,0.009603,0.003198,0.019203,0.022401,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.676144,0.503268,0.624554,0.514280,0.518056,0.567260,0.069944,23
3,0.008003,0.000001,0.001600,0.003200,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.651430,0.601904,0.590990,0.385957,0.645493,0.575155,0.097496,21
4,0.008003,0.005062,0.001600,0.003200,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.718327,0.671375,0.640690,0.655218,0.665622,0.670246,0.026206,1
5,0.006401,0.003200,0.006403,0.003201,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.679207,0.598771,0.577600,0.524027,0.586892,0.593299,0.049992,16
6,0.009604,0.003200,0.003200,0.003919,squared_error,auto,best,"{'criterion': 'squared_error', 'max_features':...",0.717730,0.527101,0.772623,0.643276,0.663798,0.664905,0.082283,3
7,0.008003,0.000002,0.004801,0.003920,squared_error,auto,random,"{'criterion': 'squared_error', 'max_features':...",0.654917,0.692528,0.667304,0.671929,0.589057,0.655147,0.035199,4
8,0.009606,0.003200,0.003200,0.003919,squared_error,sqrt,best,"{'criterion': 'squared_error', 'max_features':...",0.748994,0.412287,0.647922,0.658371,0.545361,0.602587,0.114971,14
9,0.016004,0.016000,0.004803,0.003921,squared_error,sqrt,random,"{'criterion': 'squared_error', 'max_features':...",0.785830,0.507454,0.650868,0.651033,0.592797,0.637596,0.090856,8
10,0.008005,0.000003,0.003200,0.003919,squared_error,log2,best,"{'criterion': 'squared_error', 'max_features':...",0.580827,0.581220,0.679243,0.444215,0.659406,0.588982,0.082693,18
11,0.008003,0.000004,0.003199,0.003918,squared_error,log2,random,"{'criterion': 'squared_error', 'max_features':...",0.671057,0.571683,0.588131,0.490326,0.613105,0.586861,0.058871,19
12,0.059207,0.008160,0.014403,0.011759,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",0.723653,0.600984,0.610518,0.533083,0.648398,0.623327,0.062452,12
13,0.048006,0.015182,0.012802,0.010851,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",0.698766,0.526773,0.675033,0.627919,0.641616,0.634021,0.059112,10
14,0.032005,0.005060,0.011202,0.008159,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.776059,0.556510,0.559160,0.653935,0.630102,0.635153,0.080240,9
15,0.028802,0.009602,0.003203,0.003923,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.765225,0.629851,0.656124,0.619465,0.548053,0.643744,0.070498,6
16,0.033605,0.007839,0.008002,0.016005,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.613857,0.670786,0.587162,0.652245,0.671996,0.639209,0.033447,7
17,0.032006,0.008763,0.004803,0.003921,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.739809,0.567804,0.524010,0.503083,0.637949,0.594531,0.086071,15
18,0.030405,0.032948,0.006401,0.003201,poisson,auto,best,"{'criterion': 'poisson', 'max_features': 'auto...",0.633259,0.536846,0.633633,0.672361,0.634513,0.622122,0.045180,13
19,0.007226,0.001554,0.011202,0.015679,poisson,auto,random,"{'criterion': 'poisson', 'max_features': 'auto...",0.692168,0.593142,0.648330,0.614351,0.604072,0.630413,0.035988,11
20,0.009606,0.003201,0.004801,0.003920,poisson,sqrt,best,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.616539,0.567741,0.670155,0.448398,0.558414,0.572250,0.073618,22
21,0.009604,0.003200,0.003201,0.003921,poisson,sqrt,random,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.654083,0.528869,0.658222,0.589757,0.472517,0.580689,0.071926,20
22,0.009605,0.003202,0.009599,0.011756,poisson,log2,best,"{'criterion': 'poisson', 'max_features': 'log2...",0.729204,0.304967,0.542856,0.420957,0.545640,0.508725,0.141675,24
23,0.008006,0.000003,0.003200,0.003919,poisson,log2,random,"{'criterion': 'poisson', 'max_features': 'log2...",0.698376,0.608207,0.550573,0.497778,0.609938,0.592975,0.067066,17

In [16]:
age_input=int(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=int(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Somker Yes 0 or 1:"))

Age:33
BMI:255.68
Children:3
Sex Male 0 or 1:1
Somker Yes 0 or 1:0

In [17]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print('Future_Prediction = {}'.format(Future_Prediction))

Future_Prediction = [16085.1275]