In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent = dataset[['age', 'bmi', 'children','sex_male','smoker_yes']]

In [8]:
dependent = dataset[["charges"]]

In [9]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [11]:
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['friedman_mse','squared_error','absolute_error','poisson'],
              'max_features':['none','sqrt','log2'],
              'n_estimators':[50,100]}
grid = GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 458, in fit
    for i, t in enumerate(trees)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 921, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 759, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 716, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 182, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 549, in __init__
    self.results = batch()
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 225, in __call__
    for func, args, kwargs in self.items]
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 225, in <listcomp>
    for func, args, kwargs in self.items]
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 209, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 184, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 282, in fit
    "Invalid value for max_features. "
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.80602851 0.81354556 0.81155693 0.81107221
        nan        nan 0.80927509 0.81384154 0.80584621 0.8114016
        nan        nan 0.80785124 0.81064727 0.81465698 0.81342576
        nan        nan 0.76030083 0.76884819 0.76910126 0.76749981]
  category=UserWarning,
C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['friedman_mse', 'squared_error',
                                       'absolute_error', 'poisson'],
                         'max_features': ['none', 'sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [13]:
re=grid.cv_results_
grid_predictions = grid.predict(x_test)

from sklearn.metrics import r2_score
r_score = r2_score(y_test,grid_predictions)
print('The R_score value for best parameter {}:'.format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 50}: 0.8724008095405261

In [14]:
table = pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.068754,0.012500,0.000000,0.000000e+00,friedman_mse,none,50,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
1,0.115632,0.007654,0.000000,0.000000e+00,friedman_mse,none,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
2,0.187511,0.000002,0.018752,6.249953e-03,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.859026,0.775463,0.806164,0.820379,0.769110,0.806029,0.032594,11
3,0.365652,0.007656,0.031252,1.909731e-06,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861611,0.796803,0.806672,0.827616,0.775026,0.813546,0.029392,3
4,0.190638,0.006251,0.015628,9.933790e-07,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.863735,0.792611,0.812107,0.817640,0.771692,0.811557,0.030686,5
5,0.369110,0.007952,0.031588,6.681704e-04,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858278,0.790674,0.809223,0.824795,0.772391,0.811072,0.029436,7
6,0.059379,0.006252,0.000000,0.000000e+00,squared_error,none,50,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
7,0.106258,0.006251,0.000000,0.000000e+00,squared_error,none,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
8,0.193763,0.012502,0.025002,7.653760e-03,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.863929,0.786701,0.796964,0.827029,0.771752,0.809275,0.032776,9
9,0.362525,0.006250,0.031252,2.419214e-06,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.863046,0.793140,0.811369,0.832628,0.769025,0.813842,0.032302,2
10,0.181261,0.007655,0.018754,6.249357e-03,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.854806,0.788398,0.807409,0.818054,0.760564,0.805846,0.031316,12
11,0.379534,0.022944,0.031253,1.703317e-06,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.860499,0.787419,0.807579,0.826182,0.775329,0.811402,0.030067,6
12,0.063550,0.011607,0.000000,0.000000e+00,absolute_error,none,50,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.100009,0.007657,0.000000,0.000000e+00,absolute_error,none,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
14,0.662544,0.007657,0.021878,7.655726e-03,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.859087,0.784929,0.812527,0.816405,0.766309,0.807851,0.031532,10
15,1.298711,0.049392,0.025004,7.655103e-03,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.858728,0.788262,0.807780,0.827950,0.770516,0.810647,0.030760,8
16,0.662954,0.050465,0.015626,1.411309e-06,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.859694,0.795145,0.813009,0.829093,0.776344,0.814657,0.028594,1
17,1.334600,0.029175,0.028128,6.250954e-03,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.859318,0.799636,0.810919,0.823013,0.774243,0.813426,0.028035,4
18,0.050005,0.006250,0.000000,0.000000e+00,poisson,none,50,"{'criterion': 'poisson', 'max_features': 'none...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
19,0.106257,0.006251,0.000000,0.000000e+00,poisson,none,100,"{'criterion': 'poisson', 'max_features': 'none...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
20,0.247029,0.006324,0.015626,1.786708e-06,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.828979,0.733221,0.771954,0.763580,0.703770,0.760301,0.041934,16
21,0.500032,0.027953,0.028127,6.249929e-03,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.839802,0.733671,0.776111,0.778482,0.716175,0.768848,0.042876,14
22,0.250016,0.017119,0.015627,9.344062e-07,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.837712,0.737294,0.790102,0.763817,0.716581,0.769101,0.042300,13
23,0.512532,0.031870,0.046880,1.976616e-02,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.844993,0.736582,0.773627,0.771995,0.710302,0.767500,0.045366,15

In [16]:
age_input=int(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=int(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Somker Yes 0 or 1:"))

Age:33
BMI:255.68
Children:3
Sex Male 0 or 1:1
Somker Yes 0 or 1:0

In [17]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print('Future_Prediction = {}'.format(Future_Prediction))

Future_Prediction = [16319.667537]