In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset = pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent = dataset[['age', 'bmi', 'children','sex_male','smoker_yes']]

In [8]:
dependent = dataset[["charges"]]

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {'criterion':['friedman_mse','squared_error','absolute_error','poisson'],
              'max_features':['none','sqrt','log2'],
              'n_estimators':[50,100]}
grid = GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
40 fits failed out of a total of 120.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
40 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 458, in fit
    for i, t in enumerate(trees)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 921, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 759, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 716, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 182, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 549, in __init__
    self.results = batch()
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 225, in __call__
    for func, args, kwargs in self.items]
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\joblib\parallel.py", line 225, in <listcomp>
    for func, args, kwargs in self.items]
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 209, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 184, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 282, in fit
    "Invalid value for max_features. "
ValueError: Invalid value for max_features. Allowed string values are 'auto', 'sqrt' or 'log2'.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.83171905 0.83482575 0.83128744 0.83371882
        nan        nan 0.83348269 0.83196868 0.82958033 0.83348616
        nan        nan 0.8309714  0.83422768 0.83499522 0.83363625
        nan        nan 0.787478   0.78565506 0.78466284 0.78621646]
  category=UserWarning,
C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['friedman_mse', 'squared_error',
                                       'absolute_error', 'poisson'],
                         'max_features': ['none', 'sqrt', 'log2'],
                         'n_estimators': [50, 100]},
             verbose=3)

In [10]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)

from sklearn.metrics import r2_score
r_score = r2_score(dependent,grid_predictions)
print('The R_score value for best parameter {}:'.format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 50}: 0.9665496160434929

In [11]:
table = pd.DataFrame.from_dict(re)

In [12]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.132815,0.036700,0.000000,0.000000,friedman_mse,none,50,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,24
1,0.150415,0.046211,0.000000,0.000000,friedman_mse,none,100,"{'criterion': 'friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,22
2,0.347238,0.026098,0.025601,0.009329,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.863143,0.781096,0.856852,0.821773,0.835732,0.831719,0.029315,9
3,0.657671,0.043353,0.048007,0.011315,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858316,0.780778,0.865703,0.831008,0.838325,0.834826,0.029844,2
4,0.331231,0.016467,0.028804,0.006401,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.855137,0.777452,0.858442,0.825679,0.839727,0.831287,0.029350,10
5,0.657671,0.062057,0.052806,0.017961,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.856466,0.780334,0.864131,0.827250,0.840414,0.833719,0.029594,4
6,0.092808,0.031028,0.000000,0.000000,squared_error,none,50,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
7,0.150415,0.036280,0.000000,0.000000,squared_error,none,100,"{'criterion': 'squared_error', 'max_features':...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
8,0.336036,0.011316,0.030405,0.009331,squared_error,sqrt,50,"{'criterion': 'squared_error', 'max_features':...",0.856867,0.778728,0.855890,0.831827,0.844101,0.833483,0.028853,7
9,0.644869,0.012999,0.049606,0.003200,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.857352,0.783620,0.857277,0.825665,0.835930,0.831969,0.027121,8
10,0.320035,0.050854,0.040010,0.010119,squared_error,log2,50,"{'criterion': 'squared_error', 'max_features':...",0.853478,0.774560,0.858648,0.826776,0.834441,0.829580,0.029916,12
11,0.633671,0.016318,0.041605,0.005987,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.858039,0.778760,0.860632,0.828074,0.841926,0.833486,0.029783,6
12,0.094408,0.030530,0.000000,0.000000,absolute_error,none,50,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
13,0.155215,0.048167,0.000000,0.000000,absolute_error,none,100,"{'criterion': 'absolute_error', 'max_features'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,23
14,1.606577,0.039325,0.035211,0.012995,absolute_error,sqrt,50,"{'criterion': 'absolute_error', 'max_features'...",0.856402,0.774172,0.853033,0.826358,0.844893,0.830971,0.030248,11
15,3.205149,0.039717,0.054408,0.010616,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.859769,0.781436,0.857255,0.828742,0.843936,0.834228,0.028615,3
16,1.632180,0.065782,0.036804,0.010856,absolute_error,log2,50,"{'criterion': 'absolute_error', 'max_features'...",0.859317,0.783089,0.861349,0.829167,0.842054,0.834995,0.028510,1
17,3.171547,0.125243,0.044808,0.009602,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.857967,0.778405,0.857675,0.826807,0.847326,0.833636,0.029848,5
18,0.120011,0.008764,0.000000,0.000000,poisson,none,50,"{'criterion': 'poisson', 'max_features': 'none...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20
19,0.193621,0.013766,0.000000,0.000000,poisson,none,100,"{'criterion': 'poisson', 'max_features': 'none...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
20,0.536057,0.022056,0.025606,0.003201,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.812212,0.728329,0.814417,0.798642,0.783790,0.787478,0.031541,13
21,0.979307,0.042519,0.051206,0.012999,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.805657,0.724420,0.822833,0.795970,0.779396,0.785655,0.033698,15
22,0.497655,0.005988,0.025604,0.009331,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.802997,0.725666,0.820789,0.793972,0.779890,0.784663,0.032346,16
23,0.912102,0.130491,0.048006,0.015179,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.806851,0.725763,0.818319,0.793594,0.786556,0.786216,0.032142,14

In [13]:
age_input=int(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=int(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Somker Yes 0 or 1:"))

Age:33
BMI:255.68
Children:3
Sex Male 0 or 1:1
Somker Yes 0 or 1:0

In [14]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print('Future_Prediction = {}'.format(Future_Prediction))

Future_Prediction = [11104.6786728]

C:\Users\Genuine\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"